body{
    background-image: url(../img/sky.jpg)  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1{
    color:whitesmoke;
    text-align:center; 
    margin-top: -6%;
}
h5{
    color:whitesmoke;
    text-align:center; 
}