{% extends 'index.html'  %}
{% load static %}
<!-- <!DOCTYPE html> 
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZenBlog Bootstrap Template - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  Favicons
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  Google Fonts
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  Vendor CSS Files
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  Template Main CSS Files
  <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  =======================================================
  * Template Name: ZenBlog - v1.1.0
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
<!-- </head> --> -->
{% block fromindex %}


  <main id="main">
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">About us</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="{% static 'assets\img\NesMagazine1.jpg' %}" alt="Nes Magazine history" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">About us</div>
              <h2 class="mb-4 display-4">Company History</h2>

              <p>Nes Magazine is an online portal/magazine founded in December 2022 by Enes Jashari. The work to create Nes Magazine began in February 2022. The founder, Enes Jashari, is an entrepreneur, programmer, and enthusiast of Artificial Intelligence, who decided to create an online platform that would provide the latest news, reviews, and information about the AI and ML updates for community of AI enthusiasts.</p>
              <p>Since its launch, Nes Magazine has quickly established itself as a leading source of information and entertainment for News enthusiasts. The portal has gained a large and dedicated readership, and has been praised for its high-quality content and commitment to providing accurate and informative coverage of community.</p>
            </div>
          </div>

          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src="{% static 'assets\img\NesMagazine3.jpg' %}" alt="Nes Magazine history" class="img-fluid">
            </a>
            <div class="pe-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Mission &amp; Vision</div>
              <h2 class="mb-4 display-4">Mission &amp; Vision</h2>

              <p>The main aim of Nes Magazine is to provide in-depth coverage of the latest trends and developments in the field of Artificial Intelligence and Machine Learning. This includes news on the latest research and developments, reviews of new AI and ML products and services, and interviews with industry experts. The portal also provides a platform for AI enthusiasts to connect and share their knowledge and experiences with each other.</p>
              <p>Nes Magazine's team is constantly working to improve the portal and to add new features that will make it even more valuable to its readers. The portal's mission is to connect enthusiasts around the world and make the community even stronger. And with the constant updates and new features, Nes Magazine will continue to be the leading source of information and entertainment for it's enthusiasts.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="mb-5 bg-light py-5">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-between align-items-lg-center">
          
          <div class="col-lg-5 mb-4 mb-lg-0">
            <h2 class="display-4 mb-4">Latest News</h2>
            <p>{{lastest.body}}</p>
            <br>
            <p> {{header_a.body}}</p>
            <p><a href="{% url 'index' %}" class="more">View All Posts</a></p>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <img src="{{lastest.image.url}}" alt="Nes Magazine About" class="img-fluid mb-4">
              </div>
              <div class="col-6 mt-4">
                <img src="{{header_a.image.url}}" alt="Nes Magazine about" class="img-fluid mb-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h2 class="display-4">Our Team</h2>
                <p>Our Team at Nes Magazine is dedicated to bringing you the latest and most accurate news from around the world. We are a group of experienced journalists and editors who are passionate about uncovering the truth and keeping you informed.At Nes Magazine, we believe that informed citizens are the foundation of a healthy democracy, and it is our mission to keep you informed and engaged. Thank you for choosing us as your source for news and information.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="{% static 'assets\img\blank-profile-picture.png' %}" alt="Enes Jashari" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Enes Jashari</h4>
            <span class="d-block mb-3 text-uppercase">Founder &amp; CEO</span>
            <p>Meet Enes Jashari, the Founder & CEO of Nes Magazine. Enes is a true visionary and leader in his field, with a proven track record of success. He is a highly motivated and driven individual with a strong passion for his work. He has an extensive background in the media industry and has a deep understanding of industry trends and market dynamics. Enes is the founder of Nes Magazine, an online platform that provides the latest news, reviews, and information about Artificial Intelligence updates for the community of AI enthusiasts. His passion for Technology and media led him to create this platform. He is an excellent communicator and leader, able to inspire and motivate his team to achieve their best. We are fortunate to have Enes as the leader of our organization and look forward to the impact he will make on the growth and success of Nes Magazine.</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="{% static 'assets/img/person-4.jpg' %}" alt="Nes Magazine Vice President" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Wade Warren</h4>
            <span class="d-block mb-3 text-uppercase">Founder, VP</span>
            <p>Meet Wade Warren, the main editor on our organization. Wade is a visionary entrepreneur and leader with a proven track record of success. He brings a wealth of experience in the field of business, having successfully founded and grown multiple companies. He is an expert in his field and has a deep understanding of the industry trends and market dynamics. Wade is a strategic thinker, able to identify opportunities and develop effective plans to capitalize on them. He is a skilled communicator and leader, able to inspire and motivate his team to achieve their best. We are fortunate to have Wade as the leader of our organization, and look forward to the impact he will make on the growth and success of our business.</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="{% static 'assets/img/person-5.jpg' %}" alt="Nes Magazine Editor" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Jane Cooper</h4>
            <span class="d-block mb-3 text-uppercase">Editor Staff</span>
            <p>Meet Jane Cooper, a new addition to our editorial staff. Jane is an experienced editor with a keen eye for detail and a passion for producing high-quality content. She is a skilled communicator, able to work effectively with authors, editors and other stakeholders, She is well-versed in the use of editing software and tools, and is committed to maintaining high standards of accuracy and consistency. Jane is an excellent team player and is dedicated to working collaboratively to achieve the best possible outcomes for our publications. We are excited to have Jane on our team and look forward to the contributions she will make in the quality of our publications.</p>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}
