{% extends 'single-post.html' %}


{% block linkshare %}
    <meta property="og:title" content="{{ headpost.title }}">
    <meta property="og:description" content="{{ headpost.description }}">
    <meta property="og:image" content="{{ headpost.image.url }}">
{% endblock %}



{% block single %}
<!-- ======= Single Post Content ======= -->
<div class="single-post">
  <div class="post-meta"><span class="date">{{headpost.category}}</span> <span class="mx-1">&bullet;</span> <span>{{headpost.created_at}}</span></div>
  <h1 class="mb-5">{{headpost.title}}</h1>
  <p><span class="firstcharacter"></span>{{headpost.prefix}}</p>

  <figure class="my-4">
    <img src="{{headpost.image.url}}" width="800"  alt="{{headpost.title}}" class="img-fluid">
  </figure>
  <p>{{headpost.body}}</p>
  {% if headpost.image2.url  %}
  <figure class="my-4">
    <img src="{{headpost.image2.url}}" width="800"  alt="" class="img-fluid">
  </figure>
  {% endif %}
  {% if headpost.body2  %}
  <p>{{headpost.body2}}</p>
  {% endif %}
  {% if headpost.image3.url   %}
    <figure class="my-4">
      <img src="{{headpost.image3.url}}" width="800"  alt="" class="img-fluid">
    </figure>
  {% else %}

  {% endif %}


  {% if headpost.body3  %}
  <p>{{headpost.body3}}</p>
  {% endif %}

 {% if headpost.video  %}
  {% load embed_video_tags %}
  {% video headpost.video '368x315' %}
 {% else %}

 {% endif %}

</div><!-- End Single Post Content -->
{% endblock %}

