{% extends 'single-post.html' %}


{% block linkshare %}
    <meta property="og:title" content="{{ showbizpost.title }}">
    <meta property="og:description" content="{{ showbizpost.description }}">
    <meta property="og:image" content="{{ showbizpost.image.url }}">
{% endblock %}



{% block single %}
<!-- ======= Single Post Content ======= -->
<div class="single-post">
  <div class="post-meta"><span class="date">{{showbizpost.category}}</span> <span class="mx-1">&bullet;</span> <span>{{showbizpost.created_at}}</span></div>
  <h1 class="mb-5">{{showbizpost.title}}</h1>
  <p><span class="firstcharacter"></span>{{showbizpost.prefix}}</p>

  <figure class="my-4">
    <img src="{{showbizpost.image.url}}" width="800"  alt="{{showbizpost.title}}" class="img-fluid">
  </figure>
  <p>{{showbizpost.body}}</p>
  {% if showbizpost.image2.url  %}
  <figure class="my-4">
    <img src="{{showbizpost.image2.url}}" width="800"  alt="" class="img-fluid">
  </figure>
  {% endif %}
  {% if showbizpost.body2  %}
  <p>{{showbizpost.body2}}</p>
  {% endif %}
  {% if showbizpost.image3.url   %}
    <figure class="my-4">
      <img src="{{showbizpost.image3.url}}" width="800"  alt="" class="img-fluid">
    </figure>
  {% else %}

  {% endif %}
  {% load embed_video_tags %}
  {% video showbizpost.video '368x315' %}


  {% if showbizpost.body3  %}
  <p>{{showbizpost.body3}}</p>
  {% endif %}
</div><!-- End Single Post Content -->

{% endblock %}

