{% extends 'single-post.html' %}


{% block single %}
<!-- ======= Single Post Content ======= -->
<div class="single-post">
  <div class="post-meta"><span class="date">{{showbizpost.category}}</span> <span class="mx-1">&bullet;</span> <span>{{showbizpost.created_at}}</span></div>
  <h1 class="mb-5">{{showbizpost.title}}</h1>
  <p><span class="firstcharacter"></span>{{showbizpost.prefix}}</p>

  <figure class="my-4">
    <img src="{{showbizpost.image.url}}" width="800" style="margin-left:80px ;" alt="No Photo" class="img-fluid">
  </figure>
  <p>{{showbizpost.body}}</p>
</div><!-- End Single Post Content -->

{% endblock %}

