{% extends "single-post.html" %}


{% block linkshare %}
    <meta property="og:title" content="{{ sportpost.title }}">
    <meta property="og:description" content="{{ sportpost.body | truncatewords:12 }}">
    <meta property="og:image" content="{{ sportpost.image.url }}">
{% endblock %}


{% block single %}
<!-- ======= Single Post Content ======= -->
<div class="single-post">
  <div class="post-meta"><span class="date">{{sportpost.category}}</span> <span class="mx-1">&bullet;</span> <span>{{sportpost.created_at}}</span></div>
  <h1 class="mb-5">{{sportpost.title}}</h1>
  <p><span class="firstcharacter"></span>{{sportpost.prefix}}</p>

  <figure class="my-4">
    <img src="{{sportpost.image.url}}" width="800"  alt="{{sportpost.title}}" class="img-fluid">
  </figure>
  <p>{{sportpost.body}}</p>
  {% if sportpost.image2.url  %}
  <figure class="my-4">
    <img src="{{sportpost.image2.url}}" width="800"  alt="" class="img-fluid">
  </figure>
  {% endif %}
  {% if sportpost.body2  %}
  <p>{{sportpost.body2}}</p>
  {% endif %}
  {% if sportpost.image3.url   %}
    <figure class="my-4">
      <img src="{{sportpost.image3.url}}" width="800"  alt="" class="img-fluid">
    </figure>
  {% else %}

  {% endif %}

  {% if sportpost.body3  %}
  <p>{{sportpost.body3}}</p>
  {% endif %}

  {% load embed_video_tags %}
  {% video sportpost.video '368x315' %}




</div><!-- End Single Post Content -->
{% endblock %}

