{% extends 'category.html' %}
{% load static %}

{% block fromcategory %}

<main id="main">
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">Category: Business</h3>

            {% for i in tech_post_category_header %}
            <div class="d-md-flex post-entry-2 half">
              <a href="{% url 'header-single' i.id  %}" class="me-4 thumbnail">
                <img src="{{i.image.url}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{i.category}}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a href="{% url 'header-single' i.id  %}">{{i.title}}</a></h3>
                <p>{{i.body | truncatewords:90  }}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{% static 'assets/img/person-2.jpg' %}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Wade Warren</h3>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            {% for i in tech_post_category %}
            <div class="d-md-flex post-entry-2 half">
              <a href="{% url 'tech-single' i.id %}" class="me-4 thumbnail">
                <img src="{{i.image.url}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{i.category}}</span> <span class="mx-1">&bullet;</span> <span>{{i.created_at}}</span></div>
                <h3><a href="{% url 'tech-single' i.id %}">{{i.title}}</a></h3>
                <p>{{i.body | truncatewords:90 }}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{% static 'assets/img/person-2.jpg' %}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Wade Warren</h3>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}


            <div class="text-start py-4">
              <div class="custom-pagination">
                <a href="#" class="prev">Prevous</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="next">Next</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            {% include 'nav-bar-posts.html' %}



{% endblock %}