{% extends 'single-post.html' %}

{% block linkshare %}
    <meta property="og:title" content="{{ travelpost.title }}">
    <meta property="og:description" content="{{ travelpost.description }}">
    <meta property="og:image" content="{{ travelpost.image.url }}">
{% endblock %}


{% block single %}
<!-- ======= Single Post Content ======= -->
<div class="single-post">
  <div class="post-meta"><span class="date">{{travelpost.category}}</span> <span class="mx-1">&bullet;</span> <span>{{travelpost.created_at}}</span></div>
  <h1 class="mb-5">{{travelpost.title}}</h1>
  <p><span class="firstcharacter"></span>{{travelpost.prefix}}</p>

  <figure class="my-4">
    <img src="{{travelpost.image.url}}" width="800"  alt="{{travelpost.title}}" class="img-fluid">
  </figure>
  <p>{{travelpost.body}}</p>

  {% if travelpost.image2.url  %}
  <figure class="my-4">
    <img src="{{travelpost.image2.url}}" width="800"  alt="" class="img-fluid">
  </figure>
  {% endif %}
  {% if travelpost.body2  %}
  <p>{{travelpost.body2}}</p>
  {% endif %}
  {% if travelpost.image3.url   %}
    <figure class="my-4">
      <img src="{{travelpost.image3.url}}" width="800"  alt="" class="img-fluid">
    </figure>
  {% else %}

  {% endif %}
  {% load embed_video_tags %}
  {% video travelpost.video '368x315' %}


  {% if travelpost.body3  %}
  <p>{{travelpost.body3}}</p>
  {% endif %}
</div><!-- End Single Post Content -->
{% endblock %}

