body {
    background-color: skyblue;
    /* background-image: url("https://www.example.com/background.jpghttps://images.unsplash.com/photo-1561169940-541bdfedec6d"); */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }

  /* Center the search bar */
  .search-container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  /* Style the search bar */
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;

  }
  input[type=text]:hover {
    box-shadow: 0px 0px 4px 1px black;

  }

  /* Style the submit button */
  input[type=submit] {
    width: auto;
    /* background-color: #4CAF50; */
    background-color: #2196f3;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;

  }
  input[type=submit]:hover{
    box-shadow: 0px 0px 4px 1px blue;
  }
  /* Style the weather parameters */
  .weather-parameters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }


  /* Style individual weather parameter boxes */
  .weather-parameter {
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    flex-basis: 150px;
    transition: 0.3s;
  }
  .weather-parameter:hover{
    padding: 10px;
    box-shadow: 0px 0px 14px black;

  }
  .weather-parameter:hover  .weather-parameter{
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 14px black;

  }

  /* Style weather parameter icons */
  .weather-parameter img {
    max-width: 100%;
  }
.footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    
}

#Enesjashari{
    text-decoration: none;
    color: black;
}